button,
hr,
input {
  overflow: visible;
}
img,
legend {
  max-width: 100%;
}
progress,
sub,
sup {
  vertical-align: baseline;
}
.call,
.container:after {
  clear: both;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[type="checkbox"],
[type="radio"],
legend {
  box-sizing: border-box;
  padding: 0;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.container:after,
.container:before {
  content: " ";
  display: table;
}
details,
img,
main {
  display: block;
}
.grid-1,
.grid-1-3,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.grid-1 {
  width: 40px;
}
.grid-2 {
  width: 100px;
}
.grid-3 {
  width: 160px;
}
.grid-4 {
  width: 220px;
}
.grid-5 {
  width: 280px;
}
.grid-6 {
  width: 340px;
}
.grid-7 {
  width: 400px;
}
.grid-8 {
  width: 460px;
}
.grid-9 {
  width: 520px;
}
.grid-10 {
  width: 580px;
}
.grid-11 {
  width: 640px;
}
.grid-12 {
  width: 700px;
}
.grid-13 {
  width: 760px;
}
.grid-14 {
  width: 820px;
}
.grid-15 {
  width: 880px;
}
.grid-16 {
  width: 940px;
}
.grid-1-3 {
  width: 300px;
}
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .container {
    width: 768px;
  }
  .grid-1 {
    width: 28px;
  }
  .grid-2 {
    width: 76px;
  }
  .grid-3 {
    width: 124px;
  }
  .grid-4 {
    width: 172px;
  }
  .grid-5 {
    width: 220px;
  }
  .grid-6 {
    width: 268px;
  }
  .grid-7 {
    width: 316px;
  }
  .grid-8 {
    width: 364px;
  }
  .grid-9 {
    width: 412px;
  }
  .grid-10 {
    width: 460px;
  }
  .grid-11 {
    width: 508px;
  }
  .grid-12 {
    width: 556px;
  }
  .grid-13 {
    width: 604px;
  }
  .grid-14 {
    width: 652px;
  }
  .grid-15 {
    width: 700px;
  }
  .grid-16 {
    width: 748px;
  }
  .grid-1-3 {
    width: 236px;
  }
}
@media only screen and (max-width: 787px) {
  .container {
    width: 300px;
  }
  .grid-1,
  .grid-1-3,
  .grid-10,
  .grid-11,
  .grid-12,
  .grid-13,
  .grid-14,
  .grid-15,
  .grid-16,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9 {
    width: 300px;
    margin: 0 0 20px;
    float: none;
  }
}
a {
  text-decoration: none;
  background-color: transparent;
}
ol,
ul {
  list-style: none;
}
a,
article,
blockquote,
body,
dd,
div,
dl,
dt,
em,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
iframe,
img,
label,
legend,
li,
main,
nav,
ol,
p,
section,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  font-size: 1em;
  font-weight: 400;
} /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
.btn,
.header_menu ul li a,
.subtitulo {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  color: inherit;
  display: table;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.btn,
p {
  font-size: 14px;
  line-height: 20px;
}
.btn,
.introducao h1,
.subtitulo {
  font-weight: 700;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
body {
  margin: 0;
  font-family: arial, Arial, Helvetica, sans-serif;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.btn {
  border: 3px solid #6bbf59;
  padding: 10px 30px;
  color: #6bbf59;
}
.btn:hover {
  color: #fff;
  border-color: #fff;
}
.btn.btn-preto:hover {
  color: #000;
  border-color: #000;
}
.subtitulo {
  font-size: 24px;
  line-height: 30px;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}
.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #6bbf59;
  padding: 17px 0;
  z-index: 10;
}
.header img {
  width: 85px;
}
.header_menu {
  text-align: right;
}
.call,
.introducao,
.introducao-interna,
.produto_item h2,
.produtos_lista li,
.quebra {
  text-align: center;
}
.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}
.header_menu ul li a {
  color: #000;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}
.footer h3,
.produtos_lista li h3 {
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.header_menu ul li a.menu_ativo,
.header_menu ul li a:hover {
  color: #fff;
}
.introducao {
  width: 100%;
  height: 380px;
  background: url(../img/imagem-adobe/bg/copaiba-bg.jpg) center no-repeat;
  background-size: cover;
  margin-top: 84px;
  padding-top: 40px;
}
.introducao h1 {
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
}
.quote-externo {
  max-width: 320px;
  margin: 0 auto 40px;
  color: #fff;
}
.quote-externo p:after,
.quote-externo p:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 12px auto 10px;
}
.introducao-interna {
  width: 100%;
  margin-top: 84px;
  height: 160px;
  color: #fff;
}
.introducao-interna h1:after,
.produtos_lista li h3::after {
  display: block;
  width: 60px;
  height: 3px;
  content: "";
}
.introducao-interna h1 {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 10px;
}
.footer h3,
.produtos_lista li h3,
.quebra cite {
  font-size: 18px;
  font-weight: 700;
}
.introducao-interna h1:after {
  background: #fff;
  margin: 6px auto 10px;
}
.produtos {
  padding-top: 20px;
  padding-bottom: 60px;
}
.produtos_lista li {
  background: #6bbf59;
}
.produtos_lista li img {
  margin: 0 auto;
}
.produtos_lista li h3 {
  margin-top: 20px;
}
.produtos_lista li h3::after {
  background: #000;
  margin: 2px auto;
}
.produtos_lista li p {
  padding: 10px 20px 20px;
}
.produtos_icone {
  background: #20221e;
  padding: 20px;
}
.call {
  padding-top: 40px;
}
.call p {
  margin-bottom: 20px;
}
.portfolio {
  width: 100%;
  background: #20221e;
  padding: 20px 0;
}
.portfolio .subtitulo {
  padding-top: 20px;
  color: #6bbf59;
}
.footer,
.portfolio .call p {
  color: #fff;
}
.portfolio .subtitulo::before {
  display: none;
}
.portfolio .subtitulo::after {
  background: #6bbf59;
}
.portfolio_lista li:last-child {
  margin-top: 20px;
}
.portfolio .call {
  padding-top: 20px;
  padding-bottom: 20px;
}
.quote-externo p:after {
  margin: 12px auto;
}
.quebra {
  width: 100%;
  background: url(../img/imagem-adobe/produtos/quote-imagem.jpg) center
    no-repeat;
  height: 160px;
  background-size: cover;
  padding: 30px;
}
.quote-externo p {
  font-style: italic;
  margin-bottom: 20px;
}
.quebra .quote-externo {
  max-width: 400px;
}
.quebra cite {
  font-family: Arial, Helvetica, sans-serif;
}
.footer_contato ul li,
.form label {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer {
  width: 100%;
  background: #20221e;
  padding: 20px;
}
.footer h3 {
  color: #6bbf59;
}
.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #6bbf59;
  margin: 6px 0 12px;
}
.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
}
.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer_redes ul li:hover {
  color: #fff;
}
.footer_redes {
  margin-left: 80px;
}
.copy {
  width: 100%;
  background: #6bbf59;
  padding: 20px 0;
}
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s;
}
.js [data-slide-nav] {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}
.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  margin: 4px;
  height: 12px;
  border: none;
  padding: 0;
  border-radius: 6px;
  background: #363d2f;
  text-indent: -100px;
  overflow: hidden;
}
.js [data-slide-nav] button.active {
  background: #6bbf59;
}
.js [data-anime] {
  opacity: 0;
}
.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 0.8s, transform 0.8s;
}
.nao-aparece {
  visibility: hidden;
  position: absolute;
  height: 0;
}
#form-sucesso {
  color: #31aa39;
}
#form-erro {
  color: #f64540;
}
.interna_produtos {
  background: url(../img/imagem-adobe/bg/produtos-bg.jpg) center no-repeat;
  background-size: cover;
}
.produto_item {
  padding-top: 60px;
}
.produto_item img {
  filter: brightness(0.7);
}
.produto_item h2 {
  color: #fff;
  position: relative;
  top: -195px;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-bottom: -84px;
}
.form label,
.produto_info p {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
}
.produto_item h2:after,
h2:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 12px auto;
}
.orcamento,
.produto_icone,
.produto_info {
  background: #20221e;
}
.produto_icone {
  padding: 53px;
}
.produto_icone img {
  margin: 0 auto 0 13px;
}
.produto_info p {
  padding: 91px 20px;
}
.orcamento {
  width: 100%;
  margin-top: 40px;
  padding: 40px 0;
}
.orcamento h2 {
  color: #6bbf59;
}
.orcamento h2:after {
  background: #6bbf59;
}
.orcamento h2:before {
  content: none;
}
.form {
  padding-right: 60px;
}
.form label {
  display: block;
  margin-bottom: 2px;
}
.form input,
.form textarea {
  width: 100%;
  border: 4px solid #6bbf59;
  padding: 7px 10px;
  outline: 0;
  font-size: 14px;
  background: 0 0;
  color: #fff;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form input {
  margin-bottom: 15px;
}
.form textarea {
  height: 120px;
  margin-bottom: 20px;
}
.form button {
  background: 0 0;
  padding: 7px 20px;
}
.orcamento_dados {
  color: #fff;
}
.contato_dados h3,
.orcamento_dados h3 {
  text-transform: uppercase;
  color: #6bbf59;
  font-weight: 700;
}
.orcamento_dados h3 {
  font-size: 18px;
}
.orcamento_dados span {
  display: block;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
}
.orcamento_dados span:nth-of-type(2) {
  margin-bottom: 30px;
}
.orcamento_dados ul {
  padding-right: 60px;
}
.orcamento_dados ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  padding: 10px 15px;
}
.orcamento_dados ul li:nth-child(odd) {
  background: #363d2f;
}
.orcamento_dados h3 {
  margin-bottom: 8px;
}
.interna_portfolio {
  background: url(../img/imagem-adobe/bg/portfolio-bg.jpg) center no-repeat;
  background-size: cover;
}
.interna_contato {
  background: url(../img/imagem-adobe/bg/contato-bg.jpg) center no-repeat;
  background-size: cover;
}
.contato {
  padding: 40px 0;
}
.contato_form {
  padding-right: 60px;
}
.contato_form label {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 2px;
}
.contato_form input,
.contato_form textarea {
  width: 100%;
  border: 4px solid #6bbf59;
  padding: 7px 10px;
  outline: 0;
  font-size: 14px;
  background: 0 0;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contato_form input {
  margin-bottom: 15px;
}
.contato_form textarea {
  height: 120px;
  margin-bottom: 20px;
}
.contato_form button {
  background: 0 0;
  padding: 7px 20px;
}
.contato_dados h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.contato_dados span {
  display: block;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
}
.contato_dados span:nth-of-type(even) {
  margin-bottom: 30px;
}
.contato_dados ul li {
  display: inline-block;
  margin-right: 10px;
}
.contato_mapa {
  margin-bottom: 60px;
}
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .footer_redes ul li img {
    width: 44px;
    height: 44px;
  }
  .footer_contato ul li {
    width: 200px;
  }
  .produto_item h2 {
    top: -155px;
    margin-bottom: -84px;
  }
  .produto_icone {
    padding: 26px;
  }
  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    padding: 71px 30px;
  }
}
@media only screen and (max-width: 787px) {
  .header {
    position: relative;
    margin-top: 0;
  }
  .header img {
    margin: 0 auto 20px;
  }
  .header_menu {
    text-align: center;
  }
  .header_menu ul li {
    margin: 0 0 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header_menu ul li a {
    border: 3.5px solid #000;
    width: 140px;
  }
  .header_menu ul li a.menu_ativo,
  .header_menu ul li a:hover {
    border-color: #fff;
  }
  .introducao {
    margin-top: 0;
    padding-top: 20px;
  }
  .introducao blockquote {
    margin-top: 10px;
  }
  .produto_item h2 {
    top: -114px;
    margin-bottom: -84px;
  }
  .produto_icone {
    padding: 26px;
  }
  .produto_icone img {
    padding-left: 38px;
  }
  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    padding: 71px 30px;
  }
  .contato_form,
  .form,
  .orcamento_dados ul {
    padding-right: 0;
  }
  .quote-externo {
    margin-top: -25px;
  }
  .quote-externo p:after {
    margin: 10px auto;
  }
  .footer_redes ul li img {
    width: 45px;
    height: 45px;
  }
  .footer_redes {
    margin-left: 0;
    margin-bottom: 0;
  }
  .contato_form {
    margin-bottom: 40px;
  }
}
